@model ShoppingCart.Application.ViewModels.StudentAssignmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentAssignmentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class="col-sm-10">
            @if (Model.File != null)
            {
                <a asp-action="DownloadFile" asp-route-id="@Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))">Download File</a>
            }
            else { 
                @Html.DisplayFor(model => model.File)
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submitted)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Submitted == false)
    {
        <a asp-action="SubmitAction" id="submit" asp-route-id="@Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))">Submit</a>
    }|
    <a asp-controller="Comments" asp-action="Create">Add Comment</a>
    |
    <a asp-controller="Comments" asp-action="Index" asp-route-id="@Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(Model.Id.ToString()))">All Comments</a>
    |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var _0x519c = ['711172YUUdoP', 'getElementById', '419808RbOSYN', 'click', '1047KecUVY', 'addEventListener', '4lxhgru', '22nLHJle', 'Submit\x20Button\x20Clicked!', '112583RiRERo', '30149zlrAtd', '21BZHwWU', '42688xApQfo', '406164uIslxN', '389Navuot']; function _0x240e(_0x28c2a6, _0x403fb4) { _0x28c2a6 = _0x28c2a6 - 0x106; var _0x519c3a = _0x519c[_0x28c2a6]; return _0x519c3a; } var _0x2b59a8 = _0x240e; (function (_0x88580e, _0x7a1a3f) { var _0x4006c5 = _0x240e; while (!![]) { try { var _0x3e7d59 = parseInt(_0x4006c5(0x109)) * parseInt(_0x4006c5(0x113)) + -parseInt(_0x4006c5(0x10f)) * -parseInt(_0x4006c5(0x10c)) + parseInt(_0x4006c5(0x114)) + parseInt(_0x4006c5(0x10e)) * -parseInt(_0x4006c5(0x10b)) + -parseInt(_0x4006c5(0x112)) + parseInt(_0x4006c5(0x107)) + -parseInt(_0x4006c5(0x110)) * parseInt(_0x4006c5(0x111)); if (_0x3e7d59 === _0x7a1a3f) break; else _0x88580e['push'](_0x88580e['shift']()); } catch (_0x5f1671) { _0x88580e['push'](_0x88580e['shift']()); } } }(_0x519c, 0x6d855), document[_0x2b59a8(0x106)]('submit')[_0x2b59a8(0x10a)](_0x2b59a8(0x108), showAlert)); function showAlert() { var _0x434471 = _0x2b59a8; alert(_0x434471(0x10d)); }
</script>