@model IEnumerable<ShoppingCart.Application.ViewModels.CommentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Comment Creator
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                @Html.DisplayFor(modelItem => item.Teacher.LastName)
                @Html.DisplayFor(modelItem => item.Teacher.Email)

                @Html.DisplayFor(modelItem => item.Student.FirstName)
                @Html.DisplayFor(modelItem => item.Student.LastName)
                @Html.DisplayFor(modelItem => item.Student.Email)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
        </tr>
}
    </tbody>
</table>
